@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins&display=swap');

        /* Dark scrollbar */
        ::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        ::-webkit-scrollbar-track {
            background-color: #404040;
            border-radius: 5px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: rgb(35, 35, 35);
            border-radius: 5px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: rgb(45, 45, 45);
        }

        body {
            margin: 0;
            font-family: "Martel Sans", sans-serif;
            background-color: black;
            color: #fff;
            overflow-x: hidden;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #141414;
            overflow-x: hidden;
        }

        .navbar img {
            width: 100px;
        }

        .navbar ul {
            list-style: none;
            display: flex;
            gap: 20px;
            white-space: nowrap;
        }

        .navbar ul li {
            display: inline;
        }

        .navbar ul li a {
            color: #fff;
            text-decoration: none;
            font-weight: 700;
        }

        .hero {
            position: relative;
            height: 80vh;
            /* background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkOz9-JBP6kgpR_Q3M7etnrirNoKVWeq9SZv27Kwbnxzy7y4W0JnD8uFEMLG13oWLvlhc&usqp=CAU') no-repeat center center/cover; */
        }

        video {
            height: 80vh;
            width: 100vw;
            object-fit: cover;
        }

        .hero .content {
            position: absolute;
            bottom: 50px;
            left: 50px;
        }


        .hero .content h1 {
            font-size: 3rem;
            margin: 0;
        }

        .hero .content p {
            font-size: 1.2rem;
            margin: 10px 0;
        }

        .hero .content .btn {
            padding: 10px 20px;
            background-color: #e50914;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 16px;
            border-radius: 6px;
            transition: transform 0.3s ease-in-out;
        }
        .hero .content .btn:hover {
            transform: scale(1.1);
        }

        .section {
            padding: 20px;
        }

        .section h2 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        .section .row {
            display: flex;
            gap: 10px;
            overflow-x: auto;
            padding-bottom: 10px;
        }

        .section .row img {
            border-radius: 2px;
            width: 360px;
            height: 210px;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
        }
        .section .row img:hover {
            transform: scale(1.08);
        }

        .sepration {
            background-color: rgb(35, 35, 35);
            height: 7px;
            width: 100%;
            position: relative;
            z-index: 1;
        }

        footer {
            max-width: 60vw;
            margin: 5rem auto;
            padding: 0px 48px;
        }

        footer .Questions {
            font-size: 14px;
            color: #afafaf;
            padding: 35px 0px;
        }

        footer .Questions a {
            color: #afafaf;
        }

        .footer {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .footer-items {
            display: flex;
            flex-direction: column;
            /* color: white; */
            gap: 13px;
        }

        .footer-items a {
            font-size: 14px;
            color: #afafaf;
        }

        @media screen and (max-width: 768px) {
            video {
                display: none;
            }

            .hero {
                background-image: url('https://preview.redd.it/official-poster-for-venom-the-last-dance-v0-4ywmp23htc4d1.png?auto=webp&s=bd1e10dd2643226a7e379a77aa3524271137e5a5');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            .hero .content h1 {
                font-size: 2rem;
            }

            .hero .content p {
                font-size: 1rem;
            }

            .hero .content .btn {
                font-size: 12px;
                padding: 8px 16px;
            }

            .section .row img {
                width: 250px;
                height: 140px;
            }

        }

        @media screen and (max-width: 425px) {

            .navbar ul {
                gap: 10px;
            }

            .navbar {
                padding: 10px;
            }

            .hero .content {
                left: 20px;
            }

            .hero .content h1 {
                font-size: 1.5rem;
            }

            .hero .content p {
                font-size: 0.9rem;
            }
        }

        @media screen and (max-width: 1300px) {

            .last {
                margin-bottom: 30px;
            }

            footer {
                max-width: 90vw;
                padding: 75px 0;
            }

            .footer-item {
                align-items: center;
            }
        }



        @media screen and (max-width: 1300px) {

            footer {
                margin: 0px auto;
            }

            footer .Questions {
                padding: 0px 0px;
                margin: 0px 0px 25px;
            }

            .footer {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 25px;
            }

        }